#!/bin/sh
# Account & partition (must have these)
#SBATCH --account=cm30225
#SBATCH --partition=teaching
# Name of job (optional)
#SBATCH --job-name=lc547_solve
# one node
#SBATCH --nodes=1
# time of job
#SBATCH --time=00:00:30

# Run the program
CMD="bin/solve <PROBLEM_ID> <NUM_THREADS> <PRECISION>"
echo $CMD >> time.txt
time (eval $CMD) 2>> time.txt
